body {
  font-family: Arial, sans-serif;
  padding: 0;
  padding-bottom: 100px;
  margin: 0;
}

#newsletter {
  margin-bottom: 10px;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

div.logo {
  width: 960px;
  margin: 0 auto;
}

div.logo h1 {
  text-align: center;

  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

div.logo-container {
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  padding: 0;
  margin-top: 30px;
}

div.top-subscribe-button {
  float: left;
  margin: 30px 0 10px 30px;
}

div.top-subscribe-button input {
  padding: 10px;
  color: #FFF;
  background-color: #4d4f4d;
}

ul.global-nav-bar {
  list-style-type: none; 
  padding: 0;
}

ul.global-nav-bar li{
  display: inline-block;
  margin: 0;
}

ul.global-nav-bar li a{
  text-decoration: none;
  text-align: center;
  color: #000;
  padding: 8px 12px;
  display: block;
}

ul.nav-bar {
  margin: 5px 0;
  margin-left: 360px;
  padding-left: 20px;
  height: 40px;
  width: 740px;
}

ul.nav-bar li a {
  width: 80px;
}

.nav-bar li a:hover {
  border-bottom: 1px solid #a3a3a3;  
}

div.header-wrapper {
  margin-top: 45px;
}

nav.nav-bar-container {
  padding: 20px 0;
}



main.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
  color: #424242;
  position: relative;
}

div.three-boxes-container {
  margin: 50px 0;
  border-bottom: 1px solid #e3e3e3;
}

div.intro-box-container {
  width: 350px; 
  height: 380px; 
  margin: auto 20px; 
  margin-bottom: 30px; 
  padding: 5px; 
  position: relative; 
  display: inline-block;
}

div.intro-box {
  margin: 0; 
  position: absolute; 
  top: 50%; 
  -ms-transform: translateY(-50%); 
  transform: translateY(-50%);
}

div.three_boxes {
  padding: 10px 0;
  margin: 50px 0;
  display: inline-block;
  position: relative;

} 

div.three_boxes img {
  width: 350px;
  display: inline;
  margin: auto 20px;
}

footer {
  width: 1100px;
  margin: 0 auto;
  padding: 10px 25px;
  color: #424242;
}

.intro-text-format {
  line-height: 1.6em;
}

div.intro-text-container {
  position: relative;
}

.intro-text-container img { 
  width: 350px;
  margin: 20px;
}

div.intro-image-wrapper {
  width: 390px;
}

div.carousel-container {
  text-align: center;
}

div.carousel img {
  margin-right: 70px;
  width: 750px;
}

div.carousel img:first-of-type {
  margin-left: 70px;
}

.main-post-container {
  padding: 0;
  margin: 0;
  width: 780px;
}

div.tag-list {
  margin: 0;
  margin-top: 50px;
}

div.tag-list ul{
  margin-left: 0;
  padding-left: 10px;
}

div.tag-list li {
  float:left;
  font-size: 1.2em;
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin: 5px;
  list-style-type: none;
}

.latest-post {
  background-color: #000; 
  padding: 50px; 
  color: #FFF; 
  font-size: 1.2em; 
  position: absolute; 
  top: 160px; 
  left: 90px; 
  letter-spacing: 2px;
}

.middle-box-intro {
  position: absolute; 
  width: 360px; 
  top: 10%; 
  left: 52%;
}

div.landscape-image {
  text-align: center; 
  margin: 20px 0;
}

.tall-panel-container {
  width: 360px; 
  position: absolute; 
  right: 10px; 
  top: 40%;
}

.panel-subscribe-unit {
  font-size: 1.4em; 
  padding: 0; 
  line-height: 1.9em;
}

div.footer-nav-bar {
  text-align: center;
  padding-top: 40px;
}

.footer-nav-bar li a {
  width: 120px;
}

div.social-icons {
  text-align: center;
  padding-top: 40px;
}

div.social-icons img {
  height: 40px;
  margin: 0 10px;
}

